body {
  overflow-x: hidden;
}

/*Introduction*/
#introduction {
  background-color: rgb(30, 30, 30);
  padding: 75px 0px 50px 0px;
}

#profile_image {
  height: 400px;
}

#introduction h1 {
  padding-bottom: 10px;
}

.socials img {
  margin-top: 10px;
  margin-left: 10px;
}

#introduction h1,
#introduction p {
  color: rgb(225, 225, 225);
  margin: 0px 10px 0px 10px;
}

/*Skills*/
#skills {
  padding: 50px 0px 50px 0px;
  background-color: rgb(40, 40, 40);
}

#skills h1,
#skills h3 {
  color: rgb(225, 225, 225);
}

#skills h3 {
  margin-top: 25px;
}

.badges {
  margin: 0px 10px 0px 10px;
}

/*Projects*/
#projects {
  padding: 50px 20px 50px 20px;
  background-color: rgb(30, 30, 30);
  color: rgb(225, 225, 225);
}

#projects .col {
  max-width: 310px;
}

#cards_row {
  margin-top: 10px;
}

.card,
.card-footer {
  background-color: rgb(20, 20, 20);
}

.card-footer {
  border: 0;
}

.symbol {
  width: 50px;
  height: 50px;
}

/*footer*/
footer {
  background-color: rgb(0, 0, 0);
  color: rgb(225, 225, 225);
  padding: 10px 0px 10px 0px;
}
